<style>
    @media print {
        .page-break {
            display: block;
            page-break-before: always;
        }

        tfoot img {
            position: fixed;
            bottom: 0;
        }
    }
</style>

<div class="row">



    <div class="col-md-12 text-right"><i class="fa fa-print btn btn-primary" onclick="printHrForm(this)"
            style="margin-bottom:5px; "></i></div>
            <div class="col-md-12 table-responsive" id="hrRecruimentFormPrint" style="font-family: monospace;">

                <table style="width:100%;">
            
                    <tr>
                        <td colspan="6">
                            <h3>Manpower Request Form</h3>
                        </td>
                        <td><img src="https://image.kesari.in/upload/assets/kesari-tours.png" style="float:right;width:50px;">
                        </td>
                    </tr>
                </table>
            
            
            
            
            
                <table style="width:100%; font-size:12px;">
                    <tr colspan="6">
                        <td style="vertical-align:bottom;">KESARI TOURS PVT. LTD,kesari.in
                            (CIN
                            No :
                            U63040MH1995PTC084356)</td>
                    </tr>
                </table>
            
                <hr>
                <!-- -----------------------table start--------- -->
                <table border="1" cellpadding="0" cellspacing="0"
                    style="width:100%;font-size:12px;border-spacing: 0.5rem;border-collapse: collapse;">
                    <tbody>
                        <div>
                            <h4>Requirement Details</h4>
                            <tr>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Reference No:
                                </td>
                                <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"><%=module_name%> </td>
                            </tr>
                            
                
            
                            <tr>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                                </td>
                                <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                            </tr>
            
            
                        </div>
            
                        <div>
                    </tbody>
                </table>
            
                <table border="1" cellpadding="0" cellspacing="0"
                    style="width:100%;font-size:12px;border-spacing: 0.5rem;border-collapse: collapse;">
                    <tbody>
                        <h4>Position Profile Details</h4>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Reference No:
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
                    </tbody>
                </table>
            
                <table border="1" cellpadding="0" cellspacing="0"
                    style="width:100%;font-size:12px;border-spacing: 0.5rem;border-collapse: collapse;">
                    <tbody>
                        <h4>Other Details</h4>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
                    </tbody>
                </table>
                <!-- -------------------- -->
                <table colspan="12" style="width:100%; font-size:12px;margin-top:10px; ">
                    <!-- <td colspan="6">
                    --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                </td> -->
                    </tr>
            
                    <!-- --------checklist table-------- -->
                    <table border="1" cellpadding="0" cellspacing="0"
                        style="width:100%;font-size:12px;border-spacing: 0.5rem;border-collapse: collapse;">
                        <tbody>
            
            
                            <!-- ---------------- -->
                            <tr colspan="8">
                                <td colspan="2" style="width:25%;padding-left: 20px;">Approved By.
                                </td>
                                <td colspan="2" style="width:25%;padding-left: 20px;">
                                    Signature</td>
                                <td colspan="2" style="width:25%;padding-left: 20px;">
                                    Date</td>
                                <td colspan="2" style="width:25%;padding-left: 20px;">
                                    Remarks</td>
                            </tr>
            
            
                            <tr>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                                    HOD
            
                                </td>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
            
            
                                </td>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                                </td>
            
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                                </td>
                            </tr>
            
                            <tr>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                                    HR
            
                                </td>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
            
            
                                </td>
                            </td>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                            </td>
            
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                            </td>
                            </tr>
            
                            <tr>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                                    Directors
            
                                </td>
                                <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
            
            
                                </td>
                            </td>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                            </td>
            
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                            </td>
                            </tr>
            
            
                        </tbody>
                    </table>
                </table>
            
            
            
                <!-- ================== -->
            
                <table border="1" cellpadding="0" cellspacing="0"
                    style="width:100%;font-size:12px;border-spacing: 0.5rem;border-collapse: collapse;">
                    <tbody>
                        <h4>Recruitment Details</h4>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
            
                        <tr>
                            <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;"> Gather Guest List
                            </td>
                            <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">almost Done </td>
                        </tr>
                    </tbody>
                </table>
            
            
              
            
            
            </div>
</div>

<script>

    function printHrForm() {
        var divToPrint = document.getElementById("hrRecruimentFormPrint");
        console.log("divToPrint", divToPrint)
        divToPrint.style.border = "1px";
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    };


</script>