<% include ../partials/head %>
  <% include ../partials/header %>

    <style>
      .pd-3 {
        padding-left: 10px;
      }

      .ui-autocomplete {
        z-index: 2147483647;
      }

      .contentRow {
        white-space: break-spaces !important;
      }

      .tourcode,
      .formno {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
      }

      .tourname {
        font-size: 12px;
      }

      .tour-detials {
        font-size: 15px;
        white-space: nowrap;
      }

      .background-box {
        background: #dadada;
        padding: 1px 5px;
        border-radius: 4px;
      }

      .col-150 {
        min-width: 150px;
        max-width: 150px;
        width: 150px;
      }

      .col-50 {
        min-width: 50px;
        max-width: 50px;
        width: 50px;
      }

      .alert {
        width: auto;
        padding: 20px;
        font-size: 15px;
        top: 63px !important;
        right: 20px !important;
        z-index: 999999 !important;
      }

      .ibTable tr td {
        padding: 3px;
      }

      .calIpBox {
        border-bottom: 1px solid #fff;
      }

      label.error {
        display: block !important;
      }

      /* ------s------ */
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #eaeeed;
        font-family: 'sans-serif', sans-serif;
      }

      .tab-container {
        margin: 5% 10%;
        background-color: #b7bbba;
        padding: 3%;
        border-radius: 4px;
      }

      .tab-menu {}

      .tab-menu ul {
        margin: 0;
        padding: 0;
      }

      .tab-menu ul li {
        list-style-type: none;
        display: inline-block;
      }

      .tab-menu ul li a {
        text-decoration: none;
        color: #333;
        background-color: #e0e6e4;
        padding: 7px 25px;
        border-radius: 4px;
        margin-left: 10px;
      }

      .tab-menu ul li a.active-a {
        background-color: #777;
        color: #ffffff;
        font-weight: bold;
      }

      .tab {
        display: none;
      }

      .tab h2 {
        color: rgba(0, 0, 0, .7);
      }

      .tab p {
        color: rgba(0, 0, 0, 0.6);
        text-align: justify;
      }

      .tab-active {
        display: block;
      }

      .tab .badge {
        margin-right: 5px;
      }








      /* -----e----- */
    </style>




    <div class="box">
      <div class="box-header with-border with-hamburger">
        <a href="javascript:void(0);" class="box-header-hamburger-menu" onclick="openNav()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <h3 class="box-title"> Visa Consulate Address</h3>
      </div>
      <div class="box-body">
        <div class="row gutter--3px">
          <div class="col-md-12">
            <span class="btn btn-primary" onclick="addNewUser()"><i class="fa fa-plus"></i> Add Visa Consulate Address
            </span>
          </div>
          <div class="col-md-12 r-col">
            <table id="uspList" class="table table-bordered table-striped display nowrap order-column"
              style="width:100%;">
              <tbody class="appar">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="newUserBox" tabindex="-1" role="dialog" aria-labelledby="newUserBox" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
          <div class="modal-header">Add Visa Consulate Address Details

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="regForm">
              <div class="row gutter--3px ">
                <div class="col-md-12">
                  <div class="row gutter--3px">

                    <!-- ---s -->

                    <!-- <body>
                      <div class="tab-container"> -->
                    <br>
                    <div class="tab-menu">
                      <ul>
                        <li><a href="#" class="tab-a active-a" data-id="tab1">CONSULATE DETAILS</a></li>
                        <li><a href="#" class="tab-a" data-id="tab2">VISA TYPES</a></li>
                        <li><a href="#" class="tab-a" data-id="tab3">E-VISA</a></li>
                        <li><a href="#" class="tab-a" data-id="tab4">EMBASSIES</a></li>
                      </ul>
                    </div><!--end of tab-menu-->
                    <div class="tab tab-active" data-id="tab1">
                      <br>


                      <div class="form-group col-md-3">
                        <label for="Tour">CODE</label><span style="color: rgb(170, 4, 4); font-size: medium;">*</span>
                        <input type="hidden" class="form-control id" name="id" value="0">
                        <input type="text" class="form-control" name="CONSUL_CD" id="CONSUL_CD"
                          oninput="this.value = this.value.toUpperCase();" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">COUNTRY</label><span
                          style="color: rgb(170, 4, 4); font-size: medium;">*</span>
                        <input type="text" class="form-control" name="COUNTRY" id="COUNTRY"
                          oninput="this.value = this.value.toUpperCase();" />
                      </div>

                      <div class="form-group col-md-3">
                        <label for="Tour">SECTOR</label><span style="color: rgb(170, 4, 4); font-size: medium;">*</span>
                        <select class="form-control TM_FINSECT" id="TM_FINSECT" name="TM_FINSECT" required>
                          <option value=""></option>
                        </select>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="Tour">VISA DAYS</label><span
                          style="color: rgb(170, 4, 4); font-size: medium;">*</span>
                        <input type="number" class="form-control" name="VISA_DAYS" id="VISA_DAYS" />
                      </div>

                      <div class="form-group col-md-3">
                        <label for="Tour">CONSULATE NAME</label><span
                          style="color: rgb(170, 4, 4); font-size: medium;">*</span>
                        <input type="text" class="form-control" name="CONS_NAM1" id="CONS_NAM1" />
                      </div>

                      <div class="form-group col-md-3">
                        <label for="Tour">NATION DAY</label>
                        <input type="text" class="form-control datepicker" name="NATION_DAY" id="NATION_DAY" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">COUNSEL</label>
                        <input type="text" class="form-control" name="CONSUL" id="CONSUL" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">TIMINGS</label>
                        <input type="text" class="form-control" name="TIMINGS" id="TIMINGS" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">OFFICE</label>
                        <input type="text" class="form-control" name="OFFI" id="OFFI" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">ADDRESS</label>
                        <input type="text" class="form-control" name="ADDR1" id="ADDR1" placeholder="Address1" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">&nbsp;</label>
                        <input type="text" class="form-control" name="ADDR2" id="ADDR2" placeholder="Address2" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">&nbsp;</label>
                        <input type="text" class="form-control" name="ADDR3" id="ADDR3" placeholder="Address3" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">PIN</label>
                        <input type="text" class="form-control" name="PIN" id="PIN" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">TELEPHONE</label>
                        <input type="text" class="form-control" name="TELNO" id="TELNO" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">FAX</label>
                        <input type="text" class="form-control" name="FAXNO" id="FAXNO" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">SUBMISSION TIME</label>
                        <input type="text" class="form-control" name="SUBM_TIME" id="SUBM_TIME" />

                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">COLLECTION TIME</label>
                        <input type="text" class="form-control" name="COLL_TIME" id="COLL_TIME" />
                      </div>
                      <div class="col-md-12 mt-10">
                        <a href="#" class="tab-a active-a btn btn-primary btn-block" data-id="tab2">NEXT</a>
                      </div>
                    </div>

                    <br>

                    <div class="tab " data-id="tab2">
                      <div class="col-md-12">
                        <div class="form-group col-md-4 desc_iframe">
                          <label for="Tour">TOURIST</label>
                          <textarea class="form-control textarea" name="VISA_TOUR" id="VISA_TOUR"></textarea>
                        </div>
                        <div class="form-group col-md-4 desc_iframe">
                          <label for="Tour">TRANSIT</label>
                          <textarea class="form-control textarea" name="VISA_TRAN" id="VISA_TRAN"></textarea>
                        </div>
                        <div class="form-group col-md-4 desc_iframe">
                          <label for="Tour">BUSINESS</label>
                          <textarea class="form-control textarea" name="VISA_BUSS" id="VISA_BUSS"></textarea>
                        </div>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="Tour">VALIDITY</label>
                        <input type="text" class="form-control" name="VISA_VLD1" id="VISA_VLD1" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">WEBSITE</label>
                        <input type="text" class="form-control" name="VISA_WEB" id="VISA_WEB" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">VISAS</label>
                        <input type="text" class="form-control" name="VISA_BAN1" id="VISA_BAN1" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">BANNED</label>
                        <input type="text" class="form-control" name="VISA_BAN2" id="VISA_BAN2" />
                      </div>
                      <div class="col-md-12 mt-10">
                        <a href="#" class="tab-a active-a btn btn-primary btn-block" data-id="tab3">NEXT</a>
                      </div>
                    </div>


                    <div class="tab  col-md-12" data-id="tab3">

                    

                      <div class="form-group col-md-3">
                        <input type="hidden" class="form-control EVISA_YN" name="EVISA_YN" value="">
                        <label for="Tour">E-VISA(YN)</label><span
                          style="color: rgb(170, 4, 4); font-size: medium;">*</span>
                        <div>
                          <input class="form-check-input" type="radio" name="F_VFSYN1" data-eVisa="Y" value="Y"
                            onchange="eVisa(this)">
                          <label class="form-check-label" for="">Y</label>

                          <input class="form-check-input" type="radio" name="F_VFSYN1" data-eVisa="N" value="N"
                            onchange="eVisa(this)">
                          <label class="form-check-label" for="">N</label>

                        </div>
                      </div>




                      <div class="form-group col-md-3">
                        <label for="Tour">CURRENCY</label><span
                          style="color: rgb(170, 4, 4); font-size: medium;">*</span>
                        <input type="text" class="form-control" name="EVISA_CURR" />
                      </div>

                      <div class="form-group col-md-3">
                        <label for="Tour">AMOUNT</label><span style="color: rgb(170, 4, 4); font-size: medium;">*</span>
                        <input type="number" class="form-control" name="EVISA_AMT" />
                      </div>

                      <div class="col-md-12 mt-10">
                        <a href="#" class="tab-a active-a btn btn-primary btn-block" data-id="tab4">NEXT</a>
                      </div>
                    </div>

                    <div class="tab col-md-12" data-id="tab4">
                      <div class="form-group col-md-12">
                        <label for="Tour"><span class='badge'>1</span>PLACE</label>
                        <input type="text" class="form-control" name="IE_PLC1" id="IE_PLC1" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">ADDRESS</label>
                        <input type="text" class="form-control" name="IE_ADD11" id="IE_ADD11" placeholder="ADDRESS 1" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">&nbsp;</label>
                        <input type="text" class="form-control" name="IE_ADD12" id="IE_ADD12" placeholder="ADDRESS 2" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">TEL / FAX</label>
                        <input type="text" class="form-control" name="IE_TEL1" id="IE_TEL1" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">EMAIL </label>
                        <input type="text" class="form-control" name="IE_EMAIL1" id="IE_EMAIL1" />
                      </div>
                      <div class="form-group col-md-12">
                        <label for="Tour"><span class='badge'>2</span>PLACE</label>
                        <input type="text" class="form-control" name="IE_PLC2" id="IE_PLC2" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">ADDRESS</label>
                        <input type="text" class="form-control" name="IE_ADD21" id="IE_ADD21" placeholder="ADDRESS 1" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">&nbsp;</label>
                        <input type="text" class="form-control" name="IE_ADD22" id="IE_ADD22" placeholder="ADDRESS 2" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">TEL / FAX</label>
                        <input type="text" class="form-control" name="IE_TEL2" id="IE_TEL2" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">EMAIL </label>
                        <input type="text" class="form-control" name="IE_EMAIL2" id="IE_EMAIL2" />
                      </div>
                      <div class="form-group col-md-12">
                        <label for="Tour"><span class='badge'>3</span>PLACE</label>
                        <input type="text" class="form-control" name="IE_PLC2" id="IE_PLC3" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">ADDRESS</label>
                        <input type="text" class="form-control" name="IE_ADD31" id="IE_ADD31" placeholder="ADDRESS 1" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">&nbsp;</label>
                        <input type="text" class="form-control" name="IE_ADD32" id="IE_ADD32" placeholder="ADDRESS 2" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">TEL / FAX</label>
                        <input type="text" class="form-control" name="IE_TEL3" id="IE_TEL3" />
                      </div>
                      <div class="form-group col-md-3">
                        <label for="Tour">EMAIL </label>
                        <input type="text" class="form-control" name="IE_EMAIL3" id="IE_EMAIL3" />
                      </div>
                      <div class="col-md-12 mt-10">
                        <button type="submit" class="btn btn-primary btn-block">SAVE</button>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>



    <script>

      var DrawTableInquiry;
      $(document).ready(function () {


        var dataColumns = [{
          data: "_id",
          sTitle: "Id",
          visible: false
        },



        {
          data: "COUNTRY",
          sTitle: "COUNTRY#",
          visible: true,
          className: "fs14--design column-12",
          render: function (data, type, row) {
            var html =
              ' <span class="text-blue cls-pointer" data-id="' + row
                ._id +
              '" onclick="getUser(this) ">' + row.COUNTRY + ' </span>';
            return html;
          }

        },

        // {
        //             data: "TOURCODE",
        //             sTitle: "TOURCODE#",
        //             visible: true,
        //             className: "fs14--design column-12",
        //             render: function (data, type, row) {
        //                 var html =
        //                     ' <span class="text-blue cls-pointer" data-id="' + row
        //                         ._id +
        //                     '" onclick="getUser(this) ">' + row.TOURCODE + ' </span>';
        //                 return html;
        //             }

        //         },

        {
          data: "CONSUL_CD",
          sTitle: "CONSUL CD#",
          visible: true,
          className: "fs14--design",

        },

        {
          data: "TM_FINSECT",
          sTitle: "TM FINSECT#",
          visible: true,
          className: "fs14--design",

        },

        {
          data: "VISA_DAYS",
          sTitle: "VISA DAYS#",
          visible: true,
          className: "fs14--design",

        },


        {
          data: "EVISA_YN",
          sTitle: "EVISA YN#",
          visible: true,
          className: "fs14--design",

        },

        {
          data: "EVISA_CURR",
          sTitle: "EVISA CURR#",
          visible: true,
          className: "fs14--design",

        },

        {
          data: "EVISA_AMT",
          sTitle: "EVISA AMT#",
          visible: true,
          className: "fs14--design",

        },

        {
          data: "CONS_NAM1",
          sTitle: "CONS NAM1#",
          visible: true,
          className: "fs14--design",

        },

        {
          data: "NATION_DAY",
          sTitle: "NATION DAY#",
          visible: true,
          className: "fs14--design",
          render: function (data, type, row) {
            var html = "";
            return dateFormat(row.NATION_DAY);
          }
        },



          // {
          //   data: "VISA",
          //   sTitle: "Action",
          //   visible: true,
          //   render: function (data, type, row) {
          //     //console.log(row);
          //     var html =
          //       ' <span class="btn btn-primary btn-block" data-id="' + row
          //         ._id +
          //       '" onclick="getUser(this) "> Edit</span>';
          //     return html;
          //   }
          // },

        ];

        DrawTableInquiry = DrawCustomDataTable("uspList", 350,
          "/route/consulateAddress/grid-data", dataColumns, [
          [0, "asc"]
        ], "frm_grid_search", null, true, true);

        $("#frm_grid_search").validate({
          errorPlacement: function (error, element) { },
          submitHandler: function (form) {
            DrawTableInquiry.ajax.reload();
          }
        });
        $('.textUpper').on('keyup', function (e) {
          $(this).val($(this).val().toUpperCase());
        });

        $("form#regForm").submit(function (e) {
          //$('#newUserBox').modal('hide');
          e.preventDefault();
        });

        $("#regForm").validate({
          rules: {
            CONSUL_CD: "required",
            COUNTRY: "required",
            TM_FINSECT: "required",
            VISA_DAYS: "required",
            CONS_NAM1: "required",
            EVISA_YN: "required",
            EVISA_CURR: "required",
            EVISA_AMT: "required",
          },
          messages: {
            CONSUL_CD: "Consulate Code is required",
            COUNTRY: "COUNTRY is required",
            TM_FINSECT: "Sector is required",
            VISA_DAYS: "VISA_DAYS is required",
            CONS_NAM1: "Consulate Name is required",
            EVISA_YN: "COUNTRY is required",
            EVISA_CURR: "E Visa Currerency is required",
            EVISA_AMT: "E Visa Amount is required",
          },

          errorPlacement: function (error, element) {
            offset = element.offset();
            error.insertAfter(element)
            error.addClass('message');
            error.css('display', 'block!important');
            error.css('color', 'red');
          },

          submitHandler: function (form) {

            //$('#newUserBox').modal('hide');
            var $form = $(form);
            var formData = $form.serializeObject();

            var method = "post";
            var url = "/route/consulateAddress/create";
            console.log(formData.id);
            if (formData.id != 0) {
              url =
                '/route/consulateAddress/update/' +
                formData.id;
              method = "put";
            }



            if (formData.CONSUL_CD !== "" && formData.COUNTRY !== "" && formData.TM_FINSECT !== "" && formData.VISA_DAYS !== "" && formData.CONS_NAM1 !== ""
              && formData.EVISA_YN !== "" && formData.EVISA_CURR !== "" && formData.EVISA_AMT !== "") {
              $.ajax({
                url: url,
                type: method,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(formData),
                dataType: "json",

                success: function (result) {
                  console.log("resultresultresult", result)
                  if (result.status) {
                    notification({
                      type: "success",
                      message: result
                        .msg
                    });
                    $('#newUserBox').modal('hide')
                    DrawTableInquiry.ajax
                      .reload();
                  }
                }
              });
            } else {
              notification({ type: "danger", message: "Please Enter Required Fields" });
            }
          }
        });
      });

      function addNewUser() {
        $('#newUserBox').modal('show');
      }

      function populate(frm, data) {
        $.each(data, function (key, value) {
          $('[name=' + key + ']', frm).val(value);
        });
        $('.sector').select2();
      }

      function getUser(id) {
        var id = id.getAttribute('data-id');
        $.ajax({
          url: "/route/consulateAddress/getData",
          type: "get",
          data: {
            id: id
          },
          success: function (result) {
            var iddata = {
              id: result.data._id
            }
            $.when($('#regForm').populate(result.data)).done(function (x) {

            });

            if (result.data.EVISA_YN == "Y") {
              //console.log("@@@@@@@@@@@@@@@@@@@@@@@@@@")
              document.querySelector('input[data-eVisa="Y"]').checked = true;
            } else if (result.data.EVISA_YN == "N") {
              document.querySelector('input[data-eVisa="N"]').checked = true;
            }

            populate('#regForm', result.data);
            populate('#regForm', iddata);

            $('#newUserBox').modal('show');

          }
        })
      }


      $(document).ready(function () {
        $('.tab-a').click(function () {
          $(".tab").removeClass('tab-active');
          $(".tab[data-id='" + $(this).attr('data-id') + "']").addClass("tab-active");
          $(".tab-a").removeClass('active-a');
          $(this).parent().find(".tab-a").addClass('active-a');
        });
      });

      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }



      function eVisa(e) {
        // console.log(e,e.checked);
        console.log($(".EVISA_YN"));
        if (e.checked) {
          $(".EVISA_YN").val(e.getAttribute('data-eVisa'));
        } else {
          console.error("Element not found");
        }
      }

    </script>
    <% include ../partials/footer %>