<% include ../partials/head %>
<% include ../partials/header %>
<style>
    .contentRow{
        white-space: break-spaces!important;
    }
    .tourcode,
    .formno {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
    }

    .tourname {
        font-size: 12px;
    }

    .tour-detials {
        font-size: 15px;
        white-space: nowrap;
    }

    .background-box {
        background: #dadada;
        padding: 1px 5px;
        border-radius: 4px;
    }

    .col-150 {
        min-width: 150px;
        max-width: 150px;
        width: 150px;
    }

    .col-50 {
        min-width: 50px;
        max-width: 50px;
        width: 50px;
    }

    .alert {
        width: auto;
        padding: 20px;
        font-size: 15px;
        top: 63px !important;
        right: 20px !important;
        z-index: 999999 !important;
    }

    .ibTable tr td {
        padding: 3px;
    }

    .calIpBox {
        border-bottom: 1px solid #fff;
    }

    label.error {
        display: block !important;
    }
   
    .select2-container--default .select2-selection--multiple{
        max-height: 50px;
    }
</style>
<div id="mySidenav" class="hamburger-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="hamburger-content">
        <form id="frm_grid_search" name="frm_grid_search">
            <!-- <div class="bgff">
                        <label>Transaction Date</label>
                        <input type="text" class="form-control dateRange" name="date1" autocomplete="false" />
                    </div>
                    <div class="bgff">
                        <button type="submit" class="btn btn-primary btn-guest height-30 btn-block" onclick="closeNav()"
                            style="">SEARCH</button>
                    </div> -->
        </form>
    </div>
</div>
<div class="box">
    <div class="box-header with-border with-hamburger">
        <a href="javascript:void(0);" class="box-header-hamburger-menu" onclick="openNav()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <h3 class="box-title">Supplier Meeting</h3>
    </div>
    <div class="box-body">
        <div class="row gutter--3px">
            <div class="col-md-12">
                <span class="btn btn-primary" onclick="addNew()"><i class="fa fa-plus"></i> Add New
                   </span>
            </div>
            <div class="col-md-12 r-col">
                <table id="uspList" class="table table-bordered table-striped display nowrap order-column" style="width:100%;">
                    <tbody class="appar">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newBox" tabindex="-1" role="dialog" aria-labelledby="newBox" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content"> 
            <div class="modal-header"> Supplier Meeting   <span id="topTranNo" class="fs15--design">  </span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="regForm">
                    <div class="row gutter--3px">
                        <div class="col-md-12">
                            <div class="row gutter--3px">


                                <div class="form-group">

                                    <div class="col-md-6">
                                        <input type="hidden" class="form-control id" name="id" value="0">

                                        <label class="fs15--design">
                                            Meeting Date
                                        </label>
                                        <input type="text" class="form-control datepicker meetingDate" name="meetingDate" required>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="fs15--design">
                                            From Time
                                        </label>
                                        <input type="time" class="form-control MT1" name="MT1" required>
                                           
                                    </div>
                                    <div class="col-md-3">
                                        <label class="fs15--design">
                                          Till Time
                                        </label>
                                        <input type="time" class="form-control MT2" name="MT2" required>
                                           
                                    </div>
                                </div>
                                
                               <div class="form-group">

                                    <div class="col-md-12">
                                        <label class="fs15--design">
                                            Meeting Venue
                                        </label>
                                        <input type="text" class="form-control meetingVenue" name="meetingVenue" required>
                                    </div>
                                </div> 
                                <div class="form-group">

                                    <div class="col-md-12">
                                        <label class="fs15--design">
                                            Meeting Agenda
                                        </label>
                                        <textarea class="form-control meetingAgenda" rows="2" name="meetingAgenda" required></textarea>
                                    </div>
                                </div>
                               <div class="form-group">

                                    <div class="col-md-12">
                                        <label class="fs15--design">
                                            Category
                                        </label>
                                        <select class="form-control suppliercat" id="suppliercat" onchange="getsupplier()" name="suppliercat" required>


                                        </select>
                                    </div>
                                </div>
                               <div class="form-group">

                                    <div class="col-md-12">
                                        <label class="fs15--design">
                                            Supplier
                                        </label>
                                    <select class="form-control supplier" id="supplier" name="supplier[]" multiple required>
                                        

                                        </select>
                                    </div>
                                </div>
                               <div class="form-group">

                                    <div class="col-md-12" style="margin-top: 30px;">
                                        <label class="fs15--design">
                                            Kesarians
                                        </label>
                                        <select class="form-control Kesarians" id="Kesarians" name="Kesarians[]" multiple required>


                                        </select>
                                    </div>
                                </div>
                                

                              <div class="form-group" id="mom" style="display:none;">

                                    <div class="col-md-12" style="margin-top: 30px;">
                                        <label class="fs15--design">
                                            Minutes Of Meetings
                                        </label>
                                        <textarea class="form-control mom" rows="2" name="mom" ></textarea>
                                    </div>
                                </div>

                                
                               
                                
                            </div>
                        </div>
                        <div class="col-md-12 mt-10">

                            <button type="submit" class="btn btn-primary btn-block" >Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
</div>

<script>
    var DrawTableInquiry;
    // var dataArr={
    //     totalForms:0,
    //     cancelForms:0,
    //     crShellForms:0,
    //     clearForms:0,
    //     sentForms:0,
    //     pendingForms:0
    // };

    $(document).ready(function () {
       // getsupplier();
        getsuppliercat();
        getKesarianNameData();
        var dataColumns = [{
                data: "_id",
                sTitle: "Id",
                visible: false
            },
            {
                data: "MT1",
                sTitle: "MT1",
                visible: false
            },
            {
                data: "tranNo",
                sTitle: "Tran",
                visible: true,
                className: "fs12--design column-10",
            },
            {
                data: "meetingDate",
                sTitle: "Date",
                visible: true,
                className: "fs12--design column-60",
                render: function (data, type, row) {
                    return dateFormat(row.meetingDate);
                }
            },
            {
                data: "MT2",
                sTitle: "Time",
                visible: true,
                className: "fs12--design column-70",
                render: function (data, type, row) {
                    return row.MT1+' - '+row.MT2;
                }
            },
            {
                data: "meetingVenue",
                sTitle: "Meeting Venue",
                visible: true,
                className: "fs12--design column-80",
            },
            {
                data: "meetingAgenda",
                sTitle: "Meeting Agenda",
                visible: true,
                className: "fs12--design  column-150",
            },
            {
                data: "supplier",
                sTitle: "Supplier",
                visible: true,
                className: "fs12--design dots column-150",
                // render: function (data, type, row) {
                //     return row.supplier;
                // }
            },
            {
                data: "Kesarians",
                sTitle: "Kesarians",
                visible: true,
                className: "fs12--design dots column-150",
            },
            {
                data: "register",
                sTitle: "Action",
                visible: true,
                render: function (data, type, row) {
                    //console.log(row);
                    var html =
                        ' <span class="btn btn-primary btn-block" data-id="' + row
                        ._id +
                        '" onclick="getUser(this) "><i class="fa fa-pencil"></i> Edit</span>';
                    return html;
                }
            }

        ];


        DrawTableInquiry = DrawCustomDataTable("uspList", 350,
            "/route/supplierMeeting/grid-data", dataColumns, [
                [0, "asc"]
            ], "frm_grid_search", null, true, true);

        $("#frm_grid_search").validate({
            errorPlacement: function (error, element) {},
            submitHandler: function (form) {
                DrawTableInquiry.ajax.reload();
            }
        });
        $('.textUpper').on('keyup', function (e) {
            $(this).val($(this).val().toUpperCase());
        });

        $(document).on("change", ".upload_img", function() {
            var $this=$(this);
            var file_data = $(this).prop("files")[0];
            var form_data = new FormData();
            form_data.append("path", "accordions");
            form_data.append("file", file_data);
            $.ajax({
                url: "/route/upload/aws",
                type: 'post',
                data: form_data,
                cache: false,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function(result) {
                    var data = JSON.stringify(result);
                    data = JSON.parse(data);
                    if(data.url){
                        $('.uspImg').val(data.url)
                    }
                },error: function (jqXHR, textStatus, errorThrown) {
                    var result=jQuery.parseJSON(jqXHR.responseText);
                    $(".custom_error").html(result.message);
                }  
            });
        });


        $("form#regForm").submit(function (e) {
            $('#newUserBox').modal('hide');
            e.preventDefault();
        });

        $("#regForm").validate({
            rules: {
                // title: "required",
                // subTitle: "required",
                // content: "required",
                // img: "required",
                // type: "required",
                // sector: "required"

            },
            messages: {
                // title: "Title is required",
                // subTitle: "Sub Title  is required",
                // content: "Content is required",
                // img: "Please select file",
                // type: "Please select type",
                // sector: "Please select sector"
            },
            errorPlacement: function (error, element) {
                offset = element.offset();
                error.insertAfter(element)
                error.addClass('message');
                error.css('display', 'block!important');
            },
            submitHandler: function (form) {
                $('#newBox').modal('hide');
                
                var $form = $(form);
                var formData = $form.serializeObject();
                var method = "post";
                var url = "/route/supplierMeeting/create";
                console.log(formData.id);
                if (formData.id != 0) {
                    url =
                        '/route/supplierMeeting/updatesupplierMeeting/' +
                        formData.id;
                    method = "put";
                }
                $.ajax({
                    url: url,
                    type: method,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(formData),
                    //data: formData,
                    dataType: "json",
                    success: function (result) {
                       
                        
                        if (result.status) {
                            notification({
                                type: "success",
                                message: result
                                    .msg
                            });
                           
                            DrawTableInquiry.ajax
                                .reload();
                        }
                    }
                });
               
            }
        });
    });

    function addNew() {
        $('#newBox').modal('show');
    }

    function populate(frm, data) {
        $.each(data, function (key, value) {
            if(key )
            $('[name=' + key + ']', frm).val(value);
        });
        // $('.supplier').select2();
        // setTimeout(()=>{
        //     $('.suppliercat').select2();
        //     $('.Kesarians').select2();
        // },5000)
        
       
    }

    function getUser(id) {
        //console.log(id.getAttribute('data-id'));
        $("#mom").show();
        var id = id.getAttribute('data-id');

        $.ajax({
            url: "/route/supplierMeeting/supplierdata",
            type: "get",
            data: {
                id: id
            },
            success: function (result) {
                var tranNO='&nbsp;&nbsp;&nbsp;&nbsp;Tran No :- '+result.data.tranNo;
                $("#topTranNo").html(tranNO);
                var iddata = {
                    id: result.data._id
                }
               console.log('#regForm', result.data);
               $.when($('#regForm').populate(result.data)).done(function( x ) {

                });
                $("#suppliercat").select2();
                getsupplier();
               
               
               // getKesarianNameData();
                //$('.Kesarians').select2();
                //$(".Kesarians").val(result.data.Kesarians);
                $('.Kesarians').select2();
                populate('#regForm', iddata);
                setTimeout(()=>{
                    $("#supplier").val(result.data.supplier);
                    $('.supplier').select2();
                    $('#newBox').modal('show');
                },1000);
                $('#newBox').modal('show');
               

            }
        })
    }
    
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function getsupplier() {
        var catparam = $("#suppliercat").val();

        var tray_url = "/route/rsData/getSupplier/"+catparam;
        $.getJSON(tray_url, function (data) {
            var optionList1 = '<option value=""></option>';
            $.each(data.data, function () {
                if (this != "") {
                    optionList1 += '<option value="' + this.F_NAME + '">' +
                        this.F_NAME + '</option>'
                }
            });
            $('.supplier').html(optionList1);
            $('.supplier').select2();
        });
    }

    function getsuppliercat() {
        var tray_url = "/route/rsData/getSuppliercat";
        $.getJSON(tray_url, function (data) {
            var optionList1 = '<option value=""></option>';
            for(var i= 0;i<data.data.length;i++){
                optionList1 += '<option value="' + data.data[i] + '">' +
                    data.data[i]+ '</option>'
            }
            // $.each(data.data, function () {
            //     console.log("cat",this.F_CATCODE);
            //     if (this != "") {
            //         optionList1 += '<option value="' + this.F_CATCODE + '">' +
            //             this.F_NAME + '</option>'
            //     }
            // });
            $('.suppliercat').html(optionList1);
            $('.suppliercat').select2();
        });
    }
    function getKesarianNameData() {
        var tray_url = "/route/rsData/getKesarianNameData/";
        $.getJSON(tray_url, function (data) {
            var optionList1 = '<option value=""></option>';
            // $.each(data.data, function () {
            //     console.log(this);
            //     if (this != "") {
            //         optionList1 += '<option value="' + this + '">' +
            //             this.F_NAME + '</option>'
            //     }
            // });
            for(var i= 0;i<data.length;i++){
                optionList1 += '<option value="' + data[i].F21_NAME + '">' +
                    data[i].F21_NAME+ '</option>'
            }
            $('.Kesarians').html(optionList1);
            $('.Kesarians').select2();
        });
    }
    
   
   // getTourZone();
</script>
<% include ../partials/footer %>